<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2 style="margin-top:10px;">Change Password</h2>
    <form style="padding-top:5px;">
      <div style="margin-bottom:15px;">
        <label for="currentPassword">Current Password</label>
        <input type="text" [(ngModel)]="currentPassword" name="currentPassword" class="form-control">
        <label for="newPassword">New Password</label>
        <input type="text" [(ngModel)]="newPassword" name="newPassword" class="form-control">
        <label for="confirmNewPassword">Confirm New Password</label>
        <input type="text" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" class="form-control" #confirmNewP="ngModel">
        <p *ngIf="newPassword != confirmNewPassword && confirmNewP.touched" style="color:crimson">Passwords Do Not Match</p>
        <p *ngIf="newPassword == confirmNewPassword && confirmNewP.touched && currentPassword==newPassword" style="color:crimson">Current Password and New Password have to be different</p>
      </div>

      <button type="submit" class="btn btn-warning" [disabled]="newPassword!=confirmNewPassword || currentPassword==newPassword || newPassword=='' || confirmNewPassword=='' || currentPassword==''" style="cursor:pointer">Submit</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>