<div class="nav">
        <div class="nav-inner" style="width:100%">
                <h2 class="nav-head" style="display:inline">
                        <a routerLink="/" routerLinkActive="active" style="text-decoration:none; color:white;">To-Do APP</a>
                </h2>
                
                <div style="float:right;margin-right:20px;display:inline">
                        <!-- <span *ngIf="globals.getEmail()">Welcome, {{globals.getEmail()}}</span> -->
                        <span class="col">
                                <span ngbDropdown class="d-inline-block">
                                        <span *ngIf="globals.getEmail()" ngbDropdownToggle style="cursor:pointer">Welcome, {{globals.getEmail()}}</span>
                                <!-- <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button> -->
                                        <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                                                <button class="dropdown-item">
                                                        <a routerLink="/changePassword" routerLinkActive="active" style="text-decoration:none; color:inherit;">Change Password</a>
                                                </button>
                                        </div>
                                </span>
                        </span>
                        <button type="button" class="btn btn-large btn-secondary" (click)='logout()' *ngIf="globals.getEmail()" style="cursor:pointer;">
                                Logout
                        </button>
                        
                </div>
        </div>
        
</div>
<router-outlet></router-outlet>