<div class="nav">
        <div class="nav-inner">
                <h2 class="nav-head">
                        <a routerLink="/" routerLinkActive="active" style="text-decoration:none; color:white;">To-Do APP</a>
                </h2>
                <div class="pull-right" style="margin-right:20px;">
                        <span *ngIf="globals.getEmail()">Welcome, {{globals.getEmail()}}</span>
                        <button type="button" class="btn btn-large btn-default" (click)='logout()' *ngIf="globals.getEmail()">
                                Logout
                        </button>
                </div>
        </div>
        
</div>
<router-outlet></router-outlet>