body,html{
    margin: 0 auto;
}
.nav{
    width:100%;background-color:crimson;color:white;
    margin: 0 auto;

}
.nav-head{
    padding: 10px 0px 10px 40px;
    display: inline;
}
.nav-inner{
    margin-top: 15px;
    margin-bottom: 15px;
}
.pull-right{
 margin-right: 20px;
}