<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- LOGIN FORM -->
    <form (ngSubmit)="onSubmit(signupForm.value)" #signupForm="ngForm">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [(ngModel)]="email" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password">
        </div>
        <div class="form-group">
            <label>Contact</label>
            <select [(ngModel)]="countryCode" class="form-control" #countryCodeV="ngModel" name="countryCode" id="countryCode" style="margin-bottom:1em;">
                <option *ngFor="let c of countries" [ngValue]="c.id">{{c.name}}</option>
            </select>
            <div *ngIf="countryCodeV.touched">
                <div [hidden]="countryCode!=null" class="alert alert-danger">
                Country Code is required
                </div>
            </div>
            
            <input pattern="[0-9]*" required minlength="10" maxlength="10" class="form-control" [(ngModel)]="contactNumber" name="contactNumber" id="contactNumber" #contactNumberV="ngModel" placeholder="Enter Mobile Number">
            <div *ngIf="contactNumberV.errors && (contactNumberV.dirty || contactNumberV.touched)" class="alert alert-danger">
                <div [hidden]="!contactNumberV.errors.required">
                Contact Number is required
                </div>
                <div [hidden]="!contactNumberV.errors.minlength">
                Contact Number must be 10 digits long.
                </div>
                <div [hidden]="!contactNumberV.errors.maxlength">
                Contact Number must be 10 digits long.
                </div>
                <div [hidden]="!contactNumberV.errors.pattern">
                Contact Number must contain only digits
                </div>
            </div>
        </div>


        <button type="submit" class="btn btn-warning btn-lg" [disabled]="!signupForm.form.valid || countryCode==null"  style="cursor:pointer;">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>