<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- LOGIN FORM -->
    <form (ngSubmit)="onSubmit(signupForm.value)" #signupForm="ngForm">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [(ngModel)]="email" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password">
        </div>
        <div class="form-group">
            <label>Contact</label>
            <select [(ngModel)]="countryCode" class="form-control" name="countryCode" id="" style="margin-bottom:1em;">
                <option *ngFor="let c of countries" [ngValue]="c.id">{{c.name}}</option>
            </select>
            <p>You chose: {{countryCode}}</p>
            <input type="contactNumber" class="form-control" [(ngModel)]="contactNumber" name="contactNumber" placeholder="Enter Mobile Number">
        </div>


        <button type="submit" class="btn btn-warning btn-lg" style="cursor:pointer;">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>