.app-container{
    width: 60%;
    margin:0 auto;     
}
.input-group{
    padding: 40px 0px 40px 40px;
}
li:nth-child(odd){
    background-color : #F2F2F2;
    padding: 10px 0px 10px 0px;
}
li:nth-child(even){
    background-color : #FCFCFC;
    padding: 10px 0px 10px 0px;
}
ul{
    list-style: none;    
}