<title>To Do</title>

<div class="container" *ngIf="!globals.getEmail();else app">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-check"></span> To Do</h1>
        <p>Login or Register with:</p>
        <a routerLink="/login" routerLinkActive="active" class="btn btn-secondary"><span class="fa fa-user"></span> Login</a>
        <a routerLink="/signup" routerLinkActive="active" class="btn btn-secondary"><span class="fa fa-user"></span> Signup</a>
    </div>
</div>
    <div *ngIf="showLoading" style="position:fixed;top:50%;left:50%;margin-left:-47px; margin-top:-47px;">
      <img src="loading.gif" alt="loading">
    </div>
<ng-template #app>
    <div class=row>
        <div class="col-md-3">
            <div style="margin-top:10%;" class="text-center">
                <a routerLink="/oldtasks" routerLinkActive="active" style="text-decoration:none;color:inherit;font-size:1.2em;font-weight:bold;">
                    <i class="fa fa-calendar" aria-hidden="true"></i>  Want to see old tasks?
                </a>
            </div>

        </div>
        <div class="col-md-6">
            <form class="input-group" (ngSubmit)="addTask(taskForm.value)" #taskForm="ngForm" style="text-align:center;">
                <input type="text" class="form-control" [(ngModel)]="modelTask" required minlength="1" maxlength="24" pattern="[a-zA-Z0-9\!\s\*\.\?]+" name="task" #task=ngModel>
                <span class="input-group-btn">
                        <button class="btn btn-secondary" [disabled]="!taskForm.form.valid" type="submit" style="cursor:pointer">Add Task</button>
                </span>
            </form>
                <div *ngIf="task.errors && (task.dirty || task.touched)" class="alert alert-danger">
                    <div [hidden]="!task.errors.required">
                    Task is required
                    </div>
                    <div [hidden]="!task.errors.minlength">
                    Task must be at least 1 characters long.
                    </div>
                    <div [hidden]="!task.errors.maxlength">
                    Task cannot be more than 24 characters long.
                    </div>
                    <div [hidden]="!task.errors.pattern">
                    Task can contain only !, *, ., ?
                    </div>
                </div>
            
            
            <div *ngIf="tasks[0]!=null else elseHeader">
                <h3 class="taskHeader" style="text-align:center;">Your Tasks</h3>
                <p style="text-align:center;">(Click on a Task if it is completed)</p>
            </div>
            <ng-template #elseHeader>
                <h3 class="taskHeader" style="text-align:center;">Your Tasks</h3>
                <p style="color:green;font-style: italic;text-align:center;">No Tasks for Today</p>
            </ng-template>
            <p *ngIf="error!=''" style="color:red;font-style: italic;text-align:center;">{{error}}</p>
            <div>
                <ul>
                    <li *ngFor='let task of tasks' class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 col-8 text-center tab" [style.text-decoration]="taskDone(task.done)" (click)="toggleTask(task._id,task.done)">
                            <a class="tab-cell" style="text-decoration: none;color: inherit;">{{task.task}}</a>
                        </div>
                        <div class="col-md-4 col-4 text-right">
                            <button class="btn btn-secondary" (click)="deleteTask(task._id)" style="cursor:pointer">Delete</button>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    
</ng-template>

