<title>To Do</title>

<div class="container" *ngIf="!globals.getEmail();else app">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> To Do</h1>
        <p>Login or Register with:</p>
        <a routerLink="/login" routerLinkActive="active" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a routerLink="/signup" routerLinkActive="active" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>
</div>

<ng-template #app>
    <div>
        <div class="app-container">
            <form class="input-group" (ngSubmit)="addTask(taskForm.value)" #taskForm="ngForm" style="text-align:center;">
                <input type="text" class="form-control" [(ngModel)]="task" name="task">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Add Task</button>
                </span>
            </form>
            
            <h3 class="taskHeader" style="text-align:center;">Your Tasks</h3>
            <p style="text-align:center;">(Click on a Task if it is completed)</p>
            <div>
                <ul>
                    <li *ngFor='let task of tasks' class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-center tab" [style.text-decoration]="taskDone(task.done)" (click)="toggleTask(task._id,task.done)">
                            <a href="#" class="tab-cell" style="text-decoration: none;color: inherit;">{{task.task}}</a>
                        </div>
                        <div class="col-md-4 text-right">
                            <button class="btn btn-default" (click)="deleteTask(task._id)" >Delete</button>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</ng-template>

