<title>To Do</title>

<div class="container" *ngIf="!globals.getEmail();else app">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> To Do</h1>
        <p>Login or Register with:</p>
        <a routerLink="/login" routerLinkActive="active" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a routerLink="/signup" routerLinkActive="active" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>
</div>

<ng-template #app>
    <div style="text-align:center;">
        <div class="app-container">
            <form class="input-group" (ngSubmit)="addTask(taskForm.value)" #taskForm="ngForm">
                <input type="text" class="form-control" [(ngModel)]="task" name="task">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Add Task</button>
                </span>
            </form>
            

            <div>
                <ul>
                    <li *ngFor='let task of tasks'>
                        {{task.task}}
                        <span><button class="btn btn-default" (click)="deleteTask(task._id)" >Delete</button></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</ng-template>

